[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.1.2"
gunicorn = "*"
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
authlib = ">=1.0"
requests = ">=2.27.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
